# emacs
*~
*\#*
realtime-preview-result.html
.lesshst
.config
.pry_history
.bash_history
.emacs.d/.emacs.desktop*
.emacs.d/.framesize*
.emacs.d/ac-comphist.dat
.emacs.d/server
.emacs.d/url
.emacs.d/emacs_backtrace.txt
.emacs.d/abbrev_defs
.emacs.d/auto-save-list
.gem
.history
.ssh
tools/emacs/bin/emacs_backtrace.txt
*.my.local.settings
