<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!--
      バージョン指定例
      <package id="anotherPackage" version="1.1" />
      
      メモ： git 例
       $ choco instlal git             （指定無しの為インストーラー版がインストールされるらしいが本当か不明）
       $ choco install git.install     インストーラー版
       $ choco install git.commandline ポータブル版( .commandline and .portable)
       
       * インストーラー版
       コントロールパネルのアプリケーション一覧に表示される
       インストール先 C:\Program Files (x86)\git
        or C:\Program Files\git
       choco uninstall gitしても実際のファイルは削除されない
       ※なぜか削除さえる場合もある様子(conemuとかは削除された...64bitだけが削除されるのか？？？）
       
       * ポータブル版
       コントロールパネルのアプリケーション一覧に表示されない
       インストール先
       C:\ProgramData\chocolatey\bin\git.exe
       C:\ProgramData\chocolatey\lib\git.commandline
       choco uninstall gitで実際のファイルは削除される
       C:\ProgramData\chocolatey\bin は chocolatey インストール時に PATH に登録済み
       
       参考：
       * Chocolatey Usage
       http://chocolatey.github.io/usage.html
       * インストーラー版とポータブル版の違い
       http://yanor.net/wiki/?Windows-%E3%82%A2%E3%83%97%E3%83%AA%E3%82%B1%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3%2FChocolatey%2F%E3%82%A4%E3%83%B3%E3%82%B9%E3%83%88%E3%83%BC%E3%83%A9%E3%83%BC%E7%89%88%E3%81%A8%E3%83%9D%E3%83%BC%E3%82%BF%E3%83%96%E3%83%AB%E7%89%88
       
       //// それなりに必要そーなものをサンプルとして以下に記述 ////
       
  -->

  <!-- *** editor *** -->
  <!-- <package id="emacs" /> -->
  <!-- <package id="xyzzy" /> -->
  <!-- <package id="bzeditor" /> -->
  <!-- <package id="winmerge-jp" /> -->
  <!-- <package id="visualstudiocode" /> -->
  
  <!-- *** utility *** -->
  <!-- <package id="chgkey" /> -->
  <!-- <package id="7zip" /> -->
  <!--
      nodejs
      install_gem_and_node_packages.bat を実施するために必要
  -->
  <package id="nodejs" />
  <!-- <package id="dependencywalker" /> -->

  <!-- *** terminal *** -->
  <!-- <package id="putty.portable" /> -->
  <!-- <package id="teraterm" /> -->
  <!-- 
       conemu tasks 設定例
       * git bash 1.9.5 の場合
       task parameters: /icon "C:\Program Files (x86)\Git\etc\git.ico"
       commands: "C:\Program Files (x86)\Git\bin\sh.exe" －－login -i -cur_console:d:C:\bash_home ※loginの前のーは半角で記載が必要
       * vc2008 の場合
       commands: %comspec% /k "C:\Program Files (x86)\Microsoft Visual Studio 9.0\VC\vcvarsall.bat" x86
       * commandline
       commands: %windir%\system32\cmd.exe
  -->
  <package id="conemu" />
  
  <!-- *** tab utility *** -->
  <!-- <package id="clover" /> -->
  <!-- <package id="qttabbar" /> -->
  
  <!-- *** file utility *** -->
  <!-- <package id="crystaldiskinfo" /> -->
  <!-- <package id="crystaldiskmark" /> -->
  
  <!--
      git
      * 1.9.5 以前は以下のサイトから取得できる(msysgit管理)
      https://github.com/msysgit/git
      https://github.com/git-for-windows/git
      * 1.9.5 より未来は以下のサイトから取得できる(git for windows管理)
      https://git-for-windows.github.io/
      * tortoisegit の日本語化は以下のサイトからlanguagepackをダウンロードしインストールが必要
      https://tortoisegit.org/download/
  -->
  <package id="git.install" version="2.12.2.2"/>
  <!--
      tortoisegit
      * windows10 でオーバーレイアイコンが表示されない場合
      regedit で ShellIconOverlayIdentifiers を検索し、アイコン適用順位を上げる。
      順位を上げるには、対象のkey名の先頭に半角スペースを入れるだけ。
  -->
  <package id="tortoisegit" version="2.4.0.2"/>
  <!-- <package id="git.commandline" version="1.9.5" /> -->
  <!-- <package id="sourcetree" /> -->
  
  <!-- *** browser *** -->
  <!-- <package id="google-chrome-x64" /> -->
  <!-- <package id="firefox" /> -->
  
  <!-- *** db *** -->
  <!-- <package id="postgresql" /> -->
  <!-- <package id="mariadb" /> -->
  <!-- <package id="mysql" /> -->
  
  <!-- *** office (viewer) *** -->
  <!-- <package id="excel.viewer" /> -->
  <!-- <package id="word.viewer" /> -->
  <!-- <package id="powerpoint.viewer" /> -->
  
</packages>
